

.brands ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;
}
.brands ul li {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;   
}