* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto';
}

body {
    background-color: white;
    color: #29292e;
}



.products,
.collection {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 32px 0;
    justify-content: center;
}

.products .card-body h5,
.collection .card-body h5{
    font-weight: 400;
}


.products .details .price {
    display: flex;
    flex-direction: column;
    align-items: end;

}

.products .details .star-rating,
.products .details .price h3 {
    color: #a237cc;
}

.products .details .price p {
    font-size: 12px;
}

.newsletter {
    background-color: #f7f8fa;
    margin: 32px 0; 
    padding: 32px 0; 
}

.newsletter .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.newsletter h2 {
    color:#a237cc;
    font-weight: 400;
    font-size: 40px;
}
.newsletter form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:16px;
}
.newsletter form input {
    width: 300px;
}
.newsletter form button {
    background-color:#a237cc;
    border-color:#a237cc;
    text-transform: uppercase;
}
.newsletter form button:hover {
    background-color:#79249b;
    border-color:#79249b;
}

footer {
    background-color: #515D6A;
    padding: 48px 0;
    color: #fff;
}
footer h5 {
    margin: 0 0 32px 48px;
}
footer ul {
    list-style: none;
    margin-left: 16px;
}
footer li a {
    color: #fff;
    text-decoration: none;
}
footer li a:hover {
    color: #999;
    text-decoration: underline;
}